Source: linux-2.6
Section: devel
Priority: optional
Maintainer: Debian Kernel Team <debian-kernel@lists.debian.org>
Uploaders: Bastian Blank <waldi@debian.org>, Frederik Schüler <fs@debian.org>, maximilian attems <maks@debian.org>, Norbert Tretkowski <norbert@tretkowski.de>
Standards-Version: 3.7.2.2
Build-Depends: debhelper (>= 4.1.0), module-init-tools, dpkg-dev (>= 1.10.23), debianutils (>= 1.6), bzip2, sparc-utils [sparc], kernel-package (>= 10.063), python, python2.4-minimal, gcc-4.2 [i386]
Build-Depends-Indep: docbook-utils, findutils (>= 4.2.12), gs, transfig, xmlto

Package: linux-source-2.6.25
Architecture: all
Section: devel
Priority: optional
Provides: linux-source, linux-source-2.6
Depends: binutils, bzip2
Recommends: libc6-dev | libc-dev, gcc, make
Suggests: libncurses-dev | ncurses-dev, kernel-package, libqt3-mt-dev
Description: Linux kernel source for version 2.6.25 with Debian patches
 This package provides source code for the Linux kernel version 2.6.25.
 This source closely tracks official Linux kernel releases.  Debian's
 modifications to that source consist of security fixes, bug fixes, and
 features that have already been (or we believe will be) accepted by the
 upstream maintainers.
 .
 If you wish to use this package to create a custom Linux kernel, then it
 is suggested that you investigate the package kernel-package, which has
 been designed to ease the task of creating kernel image packages.

Package: linux-doc-2.6.25
Architecture: all
Section: doc
Priority: optional
Provides: linux-doc-2.6
Description: Linux kernel specific documentation for version 2.6.25
 This package provides the various README files and HTML documentation for
 the Linux kernel version 2.6.25. Plenty of information, including the
 descriptions of various kernel subsystems, filesystems, driver-specific
 notes and the like.  Consult the file
 .
 /usr/share/doc/linux-doc-2.6.25/Documentation/00-INDEX
 .
 for the detailed description of the contents.

Package: linux-manual-2.6.25
Architecture: all
Section: doc
Priority: optional
Provides: linux-manual, kernel-manual-2.6
Replaces: linux-manual, kernel-manual-2.6
Conflicts: linux-manual, kernel-manual-2.6
Description: Linux kernel API manual pages for version 2.6.25
 This package provides the Kernel Hacker's Guide in the form of manual
 pages, describing the kernel API functions.  They are installed into
 section 9 of the manual.
 .
 As the files containing manual pages for different kernel versions are
 installed in the same location, only one linux-manual package may be
 installed at a time.  The linux-doc package containing the documentation
 in other formats is free from such restriction.

Package: linux-patch-debian-2.6.25
Architecture: all
Section: devel
Priority: optional
Depends: bzip2, python2.4-minimal
Suggests: linux-source-2.6.25
Description: Debian patches to version 2.6.25 of the Linux kernel
 This package includes the patches used to produce the prepackaged
 linux-source-2.6.25 package, as well as architecture-specific patches.
 Note that these patches do NOT apply against a pristine Linux 2.6.25
 kernel but only against the kernel tarball linux-2.6_2.6.25.orig.tar.gz
 from the Debian archive.

Package: linux-tree-2.6.25
Architecture: all
Section: devel
Priority: optional
Provides: linux-tree-2.6.25-1+vyatta+1, linux-tree-2.6.25-1+vyatta+2, linux-tree-2.6.25-1+vyatta+3, linux-tree-2.6.25-1+vyatta+4
Depends: linux-patch-debian-2.6.25 (= 2.6.25-1+vyatta+1), linux-source-2.6.25 (= 2.6.25-1+vyatta+1) | linux-source-2.6.25 (= 2.6.25-1+vyatta+2) | linux-source-2.6.25 (= 2.6.25-1+vyatta+3) | linux-source-2.6.25 (= 2.6.25-1+vyatta+4) | linux-source-2.6.25 (= 2.6.25-1+vyatta+1)
Description: Linux kernel source tree for building Debian kernel images
 This meta package is used as a build dependency of Debian linux-image
 packages to prevent a version discrepancy between the linux-image and
 corresponding linux-sources packages in the fast-moving unstable archive.
 The package's dependency relations are structured so that a linux-image
 package's build dependencies can always be satisfied, even if the
 linux-source package that had been used to compile the image has been
 superseeded by a newer Debian revision since the last build.
 .
 The package provides a list of virtual packages, corresponding to Debian
 revisions of a linux-source package.  The Debian linux-patch contains the
 information needed to roll back the current linux-source to any of the
 revisions identified by the provided virtual packages.  Therefore, the
 linux-tree package ensures the availability of the Linux kernel source
 tree corresponding to each of the virtual packages listed.
 .
 The package serves no purpose outside of the Debian build and archive
 infrastructure.

Package: linux-support-2.6.25-1
Architecture: all
Section: devel
Priority: optional
Depends: python2.4-minimal
Description: Support files for Linux 2.6.25
 This package provides support files for the Linux kernel build.

Package: linux-libc-dev
Architecture: i386
Section: devel
Priority: optional
Provides: linux-kernel-headers
Replaces: linux-kernel-headers
Conflicts: linux-kernel-headers
Description: Linux Kernel Headers for development
 This package provides headers from the Linux kernel.  These headers are
 used by the installed headers for GNU glibc and other system libraries.

Package: linux-headers-2.6.25-1-all
Architecture: i386
Section: devel
Priority: optional
Provides: linux-headers-2.6-all, linux-headers-2.6.25-all
Depends: linux-headers-2.6.25-1-all-${kernel:Arch} (= ${Source-Version})
Description: All header files for Linux 2.6.25
 This package depends against all architecture-specific kernel header files
 for Linux kernel version 2.6.25, generally used for building out-of-tree
 kernel modules.

Package: linux-headers-2.6.25-1-all-i386
Architecture: i386
Section: devel
Priority: optional
Provides: linux-headers-2.6-all-i386, linux-headers-2.6.25-all-i386
Depends: linux-headers-2.6.25-1-486-vyatta (= ${Source-Version})
Description: All header files for Linux 2.6.25
 This package depends against all architecture-specific kernel header files
 for Linux kernel version 2.6.25, generally used for building out-of-tree
 kernel modules.

Package: linux-headers-2.6.25-1
Architecture: i386
Section: devel
Priority: optional
Provides: linux-headers, linux-headers-2.6
Description: Common header files for Linux 2.6.25
 This package provides the (sub)architecture-specific common kernel header
 files for Linux kernel version 2.6.25, generally used for building
 out-of-tree kernel modules.  To obtain a complete set of headers you also
 need to install the linux-headers-2.6.25-1-(flavour) package, matching the
 flavour of the kernel you intend the build for.  To obtain such a set for
 the currently running kernel it is sufficient to run a command
 .
 apt-get install linux-headers-$(uname -r)
 .
 and it will be unpacked in /usr/src/linux-headers-2.6.25-1-(flavour).

Package: linux-image-2.6.25-1-486-vyatta
Architecture: i386
Section: admin
Priority: optional
Provides: linux-image, linux-image-2.6, linux-modules-2.6.25-1-486-vyatta
Depends: module-init-tools (>= 0.9.13), initramfs-tools (>= 0.55) | yaird (>= 0.0.12-8) | linux-initramfs-tool
Suggests: linux-doc-2.6.25, grub (>= 0.97-3) | lilo (>= 19.1)
Conflicts: grub (<= 0.95+cvs20040624-17), initramfs-tools (<< 0.55), yaird (<< 0.0.12-8)
Description: Linux 2.6.25 image on x86
 This package provides the binary image and pre-built loadable modules for
 Linux kernel 2.6.25 on x86 and compatible machines.

Package: linux-headers-2.6.25-1-486-vyatta
Architecture: i386
Section: devel
Priority: optional
Provides: linux-headers, linux-headers-2.6
Depends: linux-headers-2.6.25-1 (= ${Source-Version}), linux-kbuild-2.6.25, gcc-4.2
Description: Header files for Linux 2.6.25 on x86
 This package provides the architecture-specific kernel header files for
 Linux kernel 2.6.25 on x86 and compatible machines, generally used for
 building out-of-tree kernel modules.  These files are going to be
 installed into /usr/src/linux-headers-2.6.25-1-486-vyatta, and can be used
 for building modules that load into the kernel provided by the
 linux-image-2.6.25-1-486-vyatta package.

