Source: linux-3.9
Section: devel
Priority: optional
Maintainer: Vyatta Package Maintainers <maintainers@vyatta.com>
Standards-Version: 3.7.2.2
Build-Depends: debhelper (>= 4.1.0), module-init-tools, dpkg-dev (>= 1.10.23), debianutils (>= 1.6), bzip2, sparc-utils [sparc], kernel-package (>= 10.063), python, python-minimal, findutils (>= 4.2.12), gcc-4.4 [i386 amd64]

Package: linux-vyatta-kbuild
Architecture: any
Section: devel
Priority: optional
Description: Header/support files of Vyatta kernel build
 This package includes the header/support files of the Vyatta kernel build.

Package: linux-libc-dev
Architecture: i386 amd64
Section: devel
Priority: optional
Provides: linux-kernel-headers
Replaces: linux-kernel-headers
Conflicts: linux-kernel-headers
Description: Linux Kernel Headers for development
 This package provides headers from the Linux kernel.  These headers are
 used by the installed headers for GNU glibc and other system libraries.

Package: linux-image-3.9.4-1-586-vyatta
Architecture: i386
Section: admin
Priority: optional
Provides: linux-image, linux-image-3.9, linux-modules-3.9.4-1-586-vyatta
Depends: module-init-tools (>= 0.9.13), initramfs-tools (>= 0.55) | yaird (>= 0.0.12-8) | linux-initramfs-tool
Suggests: linux-doc-3.9.4, grub (>= 0.97-3) | lilo (>= 19.1)
Conflicts: grub (<= 0.95+cvs20040624-17), initramfs-tools (<< 0.55), yaird (<< 0.0.12-8)
Description: Linux 3.9.4 image on x86
 This package provides the binary image and pre-built loadable modules for
 Linux kernel 3.9.4 on x86 and compatible machines.

Package: linux-image-3.9.4-1-amd64-vyatta
Architecture: amd64
Section: admin
Priority: optional
Provides: linux-image, linux-image-3.9, linux-modules-3.9.4-1-amd64-vyatta
Depends: module-init-tools (>= 0.9.13), initramfs-tools (>= 0.55) | yaird (>= 0.0.12-8) | linux-initramfs-tool
Suggests: linux-doc-3.9.4, grub (>= 0.97-3) | lilo (>= 19.1)
Conflicts: grub (<= 0.95+cvs20040624-17), initramfs-tools (<< 0.55), yaird (<< 0.0.12-8)
Description: Linux 3.9.4 image on amd64
 This package provides the binary image and pre-built loadable modules for
 Linux kernel 3.9.4 on amd64 and compatible machines.

Package: linux-image-3.9.4-1-amd64-vyatta-virt
Architecture: amd64
Section: admin
Priority: optional
Provides: linux-image, linux-image-3.9, linux-modules-3.9.4-1-amd64-vyatta-virt
Depends: module-init-tools (>= 0.9.13), initramfs-tools (>= 0.55) | yaird (>= 0.0.12-8) | linux-initramfs-tool
Suggests: linux-doc-3.9.4, grub (>= 0.97-3) | lilo (>= 19.1)
Conflicts: grub (<= 0.95+cvs20040624-17), initramfs-tools (<< 0.55), yaird (<< 0.0.12-8)
Description: Linux 3.9.4 image on amd64
 This package provides the binary image and pre-built loadable modules for
 Linux kernel 3.9.4 on amd64 and compatible machines.

